p:hover{
    color: red;
    font-family: 'Beth Ellen','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p {font-family: 'Beth Ellen','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p.important{
    font-weight: bold;
}
p.enlarge{
    font-size: 24px
}
.blurb3{ 
    line-height: 50px
}

a:active{
    background: orange

}

a:link{
    background:pink
}
a{
    font-size: 200%
}

#email{
    display: block;
    font-weight: bold;
    color: grey;
    background: antiquewhite;
    font-size: 3em;

}
button{
    opacity: 50%;
}
button:hover{
    opacity: 100%;
    box-shadow: 0px 0px 10px 0px aqua; 
}

button:active{
    background-color: black
}